<ul id="boxes">
    <li class="box"></li>
    <li class="box"></li>
    <li class="box"></li>
    <li class="box"></li>
    <li class="box"></li>
    <li id="equals">&#8799;</li>
    <li id="final"></li>
</ul>
<div id="operations">
    <ul id="operationsUL">
        <li class="operation">+</li>
        <li class="operation">-</li>
        <li class="operation">X</li>
        <li class="operation">/</li>
    </ul>
</div>
